Checks: >
  *,
  -llvmlibc-*,
  -fuchsia-*,
  -altera-*,
  -bugprone-easily-swappable-parameters,
  -cert-dcl59-cpp,
  -cppcoreguidelines-avoid-magic-numbers,
  -google-build-namespaces,
  -llvm-include-order,
  -readability-identifier-length,
  -readability-magic-numbers,
  -misc-non-private-member-variables-in-classes

CheckOptions:
  cppcoreguidelines-special-member-functions.AllowSoleDefaultDtor: true
